{{ include('header.html') }}
				<div class="inner cover">
					<div class="row">
						<div class="col-lg-12">
							<h2>FAQ</h2>
							<h3>Timeline</h3>
							<div class="list-group">
  <button type="button" class="list-group-item disabled">
    <h5 class="list-group-item-heading">Taking bitcoin payments</h5>
    <p class="list-group-item-text">TBA</p>
</button>



  <button type="button" class="list-group-item">
    <h5 class="list-group-item-heading">First VPS Sold</h5>
    <p class="list-group-item-text">2017-02-01</p>
</button>



  <button type="button" class="list-group-item">
    <h5 class="list-group-item-heading">TinyBox Started development</h5>
    <p class="list-group-item-text">2017-01-01</p>
</button>
</div>
						</div>
					</div>
				</div>


{{ include('footer.html') }}
