    <section class="section">
      <footer class="footer">
        <div class="container">
          <div class="content has-text-right">
            <p>
            &copy; 2017 <a href="{{ siteUrl }}/faq">FAQ</a> <a href="{{ siteUrl }}/privacy-policy">Privacy Policy</a> {% if userlevel < 10 %}<a href="{{ siteUrl }}/logout">Logout</a>{% endif %}
            </p>
          </div>
        </div>
      </footer>
    </section>
  </body>
    <noscript id="deferred-styles">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ siteUrl }}/css/tooltip.css">
    </noscript>
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
$("#searchform").submit(function( event ) {
  window.location.href = '{{ siteUrl }}/search/'+$("#search").val();
  event.preventDefault();
});
$("#searchformfull").submit(function( event ) {
  window.location.href = '{{ siteUrl }}/search/'+$("#searchfull").val();
  event.preventDefault();
});

});
</script>
</html>
 
