<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="{{ siteUrl }}/favicon.png"/>
    {% if stuff.vars.pagetitle != null %}
    <title>{{ siteName }} - {{ stuff.vars.category }}</title>
    {% else %}
    <title>{{ siteName }}</title>
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <style>

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.bd-anchor-title {
    padding-top: 1.5rem;
    position: relative;
}

/**
 * Footer Styles [TODO] make better
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
    </style>
  </head>
  <body>

  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ siteUrl }}">{{ siteName }}</a>
      <!--<a class="navbar-item" href="{{ siteUrl }}"><img src="{{ siteUrl }}/isl.png" alt="" ></a>-->
    </div>



    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item {% if page == 'index' %}is-active{% endif %}" href="{{ siteUrl }}"><span class="icon"><i class="fa fa-home"></i></span>Home</a>
        <a class="navbar-item {% if page == 'enterevent' %}is-active{% endif %}" href="{{ siteUrl }}/enterevent"><span class="icon"><i class="fa fa-calendar-check-o"></i></span>Enter an event</a>
        <a class="navbar-item {% if page == 'winnerscircle' %}is-active{% endif %}" href="{{ siteUrl }}/winnerscircle"><span class="icon"><i class="fa fa-trophy"></i></span>Winners Circle</a>
        {% if userlevel < 10 %}
          {% if userlevel == 0 %}
        <a class="navbar-item {% if 'admin' in page %}is-active{% endif %}" href="{{ siteUrl }}/admin"><span class="icon"><i class="fa fa-user-circle-o"></i></span>Admin</a>
          {% endif %}
        <a class="navbar-item {% if 'account' in page %}is-active{% endif %}" href="{{ siteUrl }}/account"><span class="icon"><i class="fa fa-user-circle"></i></span>Account</a>
        {% else %}
        <a class="navbar-item {% if page == 'login' %}is-active{% endif %}" href="{{ siteUrl }}/login"><span class="icon"><i class="fa fa-user"></i></span>Login/Register</a>
        {% endif %}
      </div>
    </div>
  </nav>

{% if alerts|length >= 1 %}
<section class="section">
<div class="container">
<div class="content">
	{% for alert in alerts %}
	<div class="notification is-{{ alert.0|e }}">
		<button class="delete"></button>
		{{ alert.1|raw }}
	</div>
	{% endfor %}
</div>
</div>
</section>
{% endif %}
