{{ include('header.html') }}
				<div class="inner cover">
					<p class="lead">Super simple, cheap, KVM VPS hosting.</p>
					<div class="row">
						<div class="col-lg-4">
							<h2>Tiny</h2>
							<p>
								<ul class="list-group">
									<li class="list-group-item">512 MB RAM</li>
									<li class="list-group-item">1 CPU Core</li>
									<li class="list-group-item">10GB HDD</li>
									<li class="list-group-item">£2/Month</li>
								</ul>
							</p>
						</div>
						<div class="col-lg-4">
							<h2>Small</h2>
							<p>
								<ul class="list-group">
									<li class="list-group-item">1 GB RAM</li>
									<li class="list-group-item">1 CPU Core</li>
									<li class="list-group-item">20GB HDD</li>
									<li class="list-group-item">£3/Month</li>
								</ul>
							</p>
						</div>
						<div class="col-lg-4">
							<h2>Medium</h2>
							<p>
								<ul class="list-group">
									<li class="list-group-item">2 GB RAM</li>
									<li class="list-group-item">2 CPU Cores</li>
									<li class="list-group-item">30GB HDD</li>
									<li class="list-group-item">£6/Month</li>
								</ul>
							</p>
						</div>
					</div>



{{ include('footer.html') }}
