{{ include('header.html') }}
<section class="section">
  <div class="container">
    <h1 class="title">{{ stuff.title }}</h1>
    <h2 class="subtitle">{{ stuff.shortdescription }} </h2>
          {% if userlevel < 10 %}
            {% if stuff.saved is defined %}
          <a href="/unsave/{{ stuff.url}}" class="button is-small">Remove Saved</a>
            {% else %}
          <a href="/save/{{ stuff.url}}" class="button is-small">Save for later</a>
            {% endif %}
          {% else %}
          <a href="/login" class="button is-small is-tooltip-primary tooltip" data-tooltip="Login to save stuff!">Save for later</a>
          {% endif %}

    <hr> 
    <div class="content">
      {{ stuff.content|raw }}
    </div>
  </div>
</section>
{{ include('footer.html') }}
