{{ include('header.html') }}
<section class="section">
  <div class="container">
    <h1 class="title">Privacy Policy</h1>
    <h2 class="subtitle">This privacy policy sets out how {{ sitename }} uses and protects any information that you give ishouldlearn when you use this website.</h2>
  <hr>
  <div class="content">
</div>
<hr style="margin-bottom: 0;">
<h3 class="title is-4 bd-anchor-title">What we do with the information we gather</h3>
<div class="content">

</div>
</div>
</section>
{{ include('footer.html') }}
