{{ include('header.html') }}
				<div class="inner cover">
					<div class="row">
						<div class="col-lg-4">
							<h2>Tiny</h2>
							<p>
								<ul class="list-group">
									<li class="list-group-item">512 MB RAM</li>
									<li class="list-group-item">1 CPU Core</li>
									<li class="list-group-item">10GB HDD</li>
									<li class="list-group-item">£2/Month</li>
									<li class="list-group-item">
										<select class="form-control vps-choice" id="tinyVps">
											<option>Amount</option>
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
										</select>
									</li>
								</ul>
							</p>
						</div>
						<div class="col-lg-4">
							<h2>Small</h2>
							<p>
								<ul class="list-group">
									<li class="list-group-item">1 GB RAM</li>
									<li class="list-group-item">1 CPU Core</li>
									<li class="list-group-item">20GB HDD</li>
									<li class="list-group-item">£3/Month</li>
									<li class="list-group-item">
										<select class="form-control vps-choice" id="smallVps">
											<option>Amount</option>
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
										</select>
									</li>
								</ul>
							</p>
						</div>
						<div class="col-lg-4">
							<h2>Medium</h2>
							<p>
								<ul class="list-group">
									<li class="list-group-item">2 GB RAM</li>
									<li class="list-group-item">2 CPU Cores</li>
									<li class="list-group-item">30GB HDD</li>
									<li class="list-group-item">£6/Month</li>
									<li class="list-group-item">
										<select class="form-control vps-choice" id="mediumVps">
											<option>Amount</option>
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
										</select>
									</li>
								</ul>
							</p>
						</div>
					</div>
					<div class="">
						<form action="" id="paymentForm" method="POST">
							<input type="hidden" name="CSRFName" value="{{ stuff.CSRFName }}">
							<input type="hidden" name="CSRFToken" value="{{ stuff.CSRFToken }}">
							<input type="hidden" name="stripeToken" id="stripeToken">
							<input type="hidden" name="stripeEmail" id="stripeEmail">
							<input type="hidden" name="stripeAmount" id="stripeAmount">
							<input type="hidden" name="vpsChosen" id="vpsChosen">
						</form>
						<p>4242 4242 4242 4242</p>	
						<button class="btn btn-secondary" id="paymentButton">Purchase</button>
					</div>

{{ include('footer.html') }}
